.color{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 80px;
    border: 5px;
    border: 5px solid aquamarine;
    border-radius: 13px;
    background: linear-gradient(to top, rgb(234, 255, 2), rgb(253, 225, 165));}