.label{
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-decoration: underline;
  font-style: italic;
margin-left: 15px;
}
.button{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: large;
  border-radius: 10px;
  border-color: rgb(255, 213, 0);
  background-color: orange;
  color: rgb(1, 11, 20);
}
.gifdire{
  margin-left: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading{
  color: aliceblue;
}
.pokes{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction:row;
flex-wrap: wrap;
    border: 5px;
    border-color: rgb(220, 225, 245);
}
.home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-style: italic;
    background-color: aqua;
    color: rgb(0, 255, 34);
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: white;
    margin-left: 40px;
}
.center{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}