.type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left{
    margin-right: 10px;
}
.delete{
    background-color: red;
    color: white;
    height: 20px;
    
    margin-right: 10px;
}
.side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.order {
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: space-around; 
}
.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.h1{
    background: linear-gradient(to bottom, rgb(255, 253, 151), yellow);
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    text-decoration: underline;
    font-size: 50px;
    margin-top: 10px;
}
.split{
    display: flex;
   
    flex-direction: row-reverse;
}
.text {
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
    margin-right: 200px;
    background: linear-gradient(to left, rgb(234, 239, 141), rgb(244, 194, 102));
    color: blue;
    border-radius: 20px;
}
.label{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    text-decoration: underline;
    font-style: italic;

}
.select{
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    font-size: 18px;
    width: 200px;
    height: 25px;
    background-color: aquamarine;
    border-radius: 7px;
    margin-right: 10px;
   
    margin-top: 10px;
    margin-bottom: 3px;
    
}
.inputs{
    border-radius: 20px;
    background: linear-gradient(to left, rgb(255, 204, 238), rgb(244, 218, 168));
    margin-right: 100px;
}
.input{
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
    border: rgb(17, 194, 73) solid 5px ;
    border-radius: 10px;
}

.error{
    margin-top: 4px;
    margin-bottom: 7px;
    color: red;
}
.danger{
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
    border: red solid 5px ;
    border-radius: 10px;
}
.buttonBack{
    margin-bottom: 10px;
    width: 300px;
    font-size: 40px;
    background-color: black;
    color: aliceblue;
    border-radius: 7px;
}
.buttonCreate {
    margin-bottom: 15px;
    width: 250px;
    font-size: 40px;
    background-color: black;
    color: aliceblue;
    border-radius: 7px;
}
buttonCreate:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 7px;
}
