.row{
    display: flex;
    flex-direction: row;
}
.input{
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
    border: aquamarine solid 5px ;
    border-radius: 10px;
}
.danger{
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
    border: red solid 5px ;
    border-radius: 10px;
}
.error{
    margin-top: 12px;
    color: red;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button{
    font-size: 20px;
    background-color: aqua;
    border: 3px;
    border-radius: 7px;
    height: 40px;
    width: 50px;
    margin-top: 7px;
}